*:root{
    font-family: 'Outfit';
    background-color: hsl(212, 45%, 89%);
}
.fi{
    padding: 500px;
}
#pad{
    padding: 1222rem;
}
p{
    font-weight: 400;
    font-size: 15px;
    padding: 18px;
}
h1{
    font-size: 22px;
    font-weight: 700;
    padding: 3px;
}
img{
    display: block;
    width: 280px;
    height: 280px;
    margin: auto;
    border-radius: 15px;
}
.center {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 284px;
    border-radius: 28px;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(112, 111, 112, 0.2), 0 6px 20px 0 rgba(109, 109, 109, 0.19);
}